[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-leaflet = "*"
django = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
django-cors-headers = "*"
django-environ = "*"
psycopg = "*"
psycopg-binary = "*"
drf-spectacular = "*"

[dev-packages]
black = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.10"
